<div class="auth-container">
  <div *ngIf="paso === 1" class="auth-card">
    <h2>Recuperar Contraseña</h2>
    <p>Te enviaremos un código a tu correo.</p>
    <input [(ngModel)]="correo" type="email" placeholder="Tu correo electrónico">
    <button (click)="enviarCodigo()">Enviar Código</button>
    <div class="footer-actions">
  <a (click)="abrirLogin()" class="back-link">
    <i class="fas fa-arrow-left"></i> Volver al Inicio de Sesión
  </a>
</div>
  </div>

  <div *ngIf="paso === 2" class="auth-card">
    <h2>Establecer Nueva Contraseña</h2>
    <input [(ngModel)]="codigo" type="text" placeholder="Código de 6 dígitos">
    <input [(ngModel)]="nuevaPassword" type="password" placeholder="Nueva Contraseña">
    <button (click)="cambiarPassword()">Actualizar Contraseña</button>
  </div>
</div>
